body {
  background-image: url('images/the-hall-of-quiet-curiousity.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #DDE0E6;
  text-align: center;
}

h1 {
  color: #D9C27A
}
